In [ ]:
nombre=input("Ingrese el primer nombre: ")

Ingrese el primer nombre: David

In [ ]:
nombre

'David'

In [ ]:
numero=input("Ingrese un numero: ")

Ingrese un numero: 35

In [ ]:
numero

'35'

In [ ]:
numero=int(input("Ingrese un numero entero: "))

Ingrese un numero entero: 33

In [ ]:
numero

33

In [ ]:
numero=float(input("Ingrese un numero: "))

Ingrese un numero: 23

In [ ]:
numero

23.0

In [ ]:
numero=float(input("Ingrese un numero: "))

Ingrese un numero: 23

In [ ]:
numero

23.0

# TIPOS DE VARIABLE

## Manejo de strings

In [ ]:

nombre = "David"
primer_apellido = "Ramirez"
nombre_completo = nombre + primer_apellido
genero = "M"
direccion = "Calle 13 6 E 04"
estado_civil = ["Soltero", "Casado", "Union Libre","Otro"]

In [ ]:
estado_civil[2] = "Divorciado"

In [ ]:
estado_civil[2]

'Divorciado'

## Manejo de Numeros

In [ ]:
edad = 34
estatura = 1.79

In [ ]:
edad

34

In [ ]:
print(estatura)

1.79

In [ ]:
print(direccion)

Calle 13 6 E 04

#LISTADO DE PRECIOS

#Ejemplo de Calculadora Sencilla si el uso de funciones (+,-,*,/) por David Ramirez

In [12]:
import math

print("Ejemplo de Calculadora Sencilla (+,-,*,/) por David Ramirez")
print("MENU")
print("1: Suma:+")
print("2: -")
print("3: *")
print("4: Division (/)")


print()
opcion=input("Ingrese la opcion deseada del menú: ")
numero_1=float(input("Ingrese el primer numero de la operación: "))
numero_2=float(input("Ingrese el segundo numero de la operación: "))

if opcion == "1":
  print("vamos a sumar (+) los dos valores ingresados")
  print("El resultado de la suma es: ",numero_1+numero_2)

if opcion == "2":
  print("vamos a restar (-) los dos valores ingresados: \n ")
  resta=numero_1-numero_2
  print("Resultado= ",resta)

if opcion == "3":
  print("Vamos a multiplicar (*) dosdos valores ingregados: \n")
  mult=numero_1*numero_2
  print(f"{numero_1})*{numero_2}={mult}")

if opcion == "4" or opcion=='/' or opcion=='Dividir':
  print("Vamos a dividir(/) los dos valores ingresados:\n")
  if numero_2!=0:
    print(numero_1/numero_2)
  else:
    print("¡No es posible dividir entre cero!")

Ejemplo de Calculadora Sencilla (+,-,*,/) por David Ramirez
MENU
1: Suma:+
2: -
3: *
4: Division (/)

Ingrese la opcion deseada del menú: 1
Ingrese el primer numero de la operación: 576
Ingrese el segundo numero de la operación: 412
vamos a sumar (+) los dos valores ingresados
El resultado de la suma es:  988.0

NameError: name 'llamar_funciones' is not defined